<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Invalid</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Invalid Team Name</h1>
    <div>
      You have entered an invalid team name, please try again.
    </div>
    <hr />
    <a href="/">HOME</a>
  </body>
</html>